
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Pasta Sipariş Formu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="dogan-kartal.com">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
</head>
<body>
    <div class="wrapper">
        <div class="image-holder">
            <img src="~/Content/colorlib-wizard-4/images/form-wizard.png" alt="">
        </div>
        <form action="">
            <div class="form-header">
                <a href="https://instagram.com/ascilikseruvenim" target="_blank">#Aşçılık Serüvenim</a>
                <h3>Ön Sipariş Formu</h3>
            </div>
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <label for="">
                            Ad Soyad:
                        </label>
                        <div class="form-holder">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Telefon Numarası:
                        </label>
                        <div class="form-holder">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Siparişiniz:
                        </label>
                        <div class="form-holder">
                            <select id="tipSecimi" class="form-control" onchange="tipDegisti()">
                                <option value="pasta" class="option">Pasta</option>
                                <option value="cupcake" class="option">Cupcake</option>
                                <option value="kurabiye" class="option">Kurabiye</option>
                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    @*<div class="form-row" style="margin-bottom: 26px;">
                            <label for="">
                                Is this course for UF Online?
                            </label>
                            <div class="form-holder">
                                <select name="" id="" class="form-control">
                                    <option value="no" class="option">No</option>
                                    <option value="yes" class="option">Yes</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Preferred System:
                            </label>
                            <div class="form-holder">
                                <select name="" id="" class="form-control">
                                    <option value="canvas" class="option">Canvas</option>
                                    <option value="svg" class="option">Svg</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                College / Department:
                            </label>
                            <div class="form-holder">
                                <select name="" id="" class="form-control">
                                    <option value="florida" class="option">University of Florida</option>
                                    <option value="havard" class="option">University of Havard</option>
                                    <option value="oxford" class="option">University of Oxford</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Term:
                            </label>
                            <div class="form-holder">
                                <select name="" id="" class="form-control">
                                    <option value="" selected disabled>Select Term</option>
                                    <option value="term 1" class="option">Term 1</option>
                                    <option value="term 2" class="option">Term 2</option>
                                    <option value="term 3" class="option">Term 3</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>*@

                </section>

               

                <!-- SİPARİŞ FORMU -->
                <h4></h4>
                <section>
                    <div id="secildiKurabiye" style="display:none">
                        <div class="form-row">
                            <label for="">
                                Hamur Seçimi:
                            </label>
                            <div class="form-holder">
                                <select id="kurabiyeHamurSecimi" class="form-control">
                                    <option value="zencefilli" class="option">Zencefilli</option>
                                    <option value="tarcinli" class="option">Tarçınlı</option>
                                    <option value="vanilyali" class="option">Vanilyalı</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Süsleme Seçimi:
                            </label>
                            <div class="form-holder">
                                <select id="kurabiyeHamurSecimi" class="form-control">
                                    <option value="sekerbaski" class="option">Şeker Baskı</option>
                                    <option value="royalicing" class="option">Royal Icing</option>
                                    <option value="hikayekombini" class="option">Hikaye Kombini</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Adet (Mininum 20):
                            </label>
                            <div class="form-holder">
                                <input type="text" class="form-control">
                            </div>
                        </div><br />
                    </div>

                </section>

                <!-- SECTION 2 -->
                @*<h4></h4>
                <section id="pasta" visible="false">
                    <div class="form-row">
                        <label for="">
                            Date of Birth:
                        </label>
                        <div class="form-holder">
                            <input type="text" class="form-control datepicker-here" data-language='en' data-date-format="dd - mm - yyyy" id="dp1">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Country of Birth:
                        </label>
                        <div class="form-holder">
                            <select name="" id="" class="form-control">
                                <option value="united states" class="option">United States</option>
                                <option value="united kingdom" class="option">United Kingdom</option>
                                <option value="viet nam" class="option">Viet Nam</option>
                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Your Email:
                        </label>
                        <div class="form-holder">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 3.4vh">
                        <label for="">
                            Phone Number:
                        </label>
                        <div class="form-holder">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 50px;">
                        <label for="">
                            Gender:
                        </label>
                        <div class="form-holder">
                            <div class="checkbox-circle">
                                <label class="male">
                                    <input type="radio" name="gender" value="male" checked> Male<br>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="female">
                                    <input type="radio" name="gender" value="female"> Female<br>
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="transgender">Transgender<br>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </section>*@

                <!-- TAMAMLAMA -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <h5>Tercihleriniz bana ulaşması için aşağıdaki tamam butonuna basınız, en kısa sürede dönüş yapacağım.</h5>

                    </div>
                    <div class="form-row">
                        
                        <label for="">
                            Notunuz:
                        </label>
                        <div class="form-holder">
                            @*<textarea class="form-control" rows="10" placeholder="Seçiminizi yaptığınız işlemlerle ilgili not yazabilirsiniz."></textarea>*@
                            <input type="text" class="form-control" placeholder="Not">
                        </div>

                    </div><br />
                </section>
            </div>
        </form>
    </div>

    <script src="~/Content/colorlib-wizard-4/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="~/Content/colorlib-wizard-4/js/jquery.steps.js"></script>

    <!-- DATE-PICKER -->
    <script src="~/Content/colorlib-wizard-4/vendor/date-picker/js/datepicker.js"></script>
    <script src="~/Content/colorlib-wizard-4/vendor/date-picker/js/datepicker.en.js"></script>

    <script src="~/Content/colorlib-wizard-4/js/main.js"></script>
    <!-- Template created and distributed by Colorlib -->

    <script>
        function tipDegisti() {
            var x = document.getElementById("tipSecimi").value;
            console.log(x);

            if (x === 'pasta') {
                alert('Seçiminiz: ' + x);
            }
            else if (x==='cupcake') {
                alert('Seçiminiz: ' + x);
            }
            else if (x==='kurabiye') {
                var y = document.getElementById("secildiKurabiye");
                if (y.style.display === "none") {
                    y.style.display = "block";
                } else {
                    y.style.display = "none";
                }
                
            }
        }
    </script>

</body>
</html>