@model pasta_siparis.Models.Siparis
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Pasta Sipariş Formu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="dogan-kartal.com">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Content/colorlib-wizard-4/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>


</head>
<body>

    <div class="wrapper">
        <div class="image-holder">
            <img src="~/Content/colorlib-wizard-4/images/form-wizard.png" alt="">
        </div>
        <form action="Index" method="post">
            <div class="form-header">
                <a href="https://www.instagram.com/magicmiks.cake/" target="_blank">#Magic Miks</a>
                <h3>Ön Sipariş Formu</h3>
            </div>
            <div id="wizard">
                @using (Html.BeginForm("Index", "Default", FormMethod.Post))
                {
                    <!-- SECTION 1 -->
                    <h4></h4>
                    <section>
                        <div class="form-row">
                            <label for="">
                                Ad Soyad:
                            </label>
                            <div class="form-holder">
                                <input type="text" class="form-control" name="AdSoyad">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Telefon Numarası:
                            </label>
                            <div class="form-holder">
                                <input type="text" class="form-control" name="TelefonNumarasi">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">
                                Siparişiniz:
                            </label>
                            <div class="form-holder">
                                <select id="tipSecimi" class="form-control" onchange="tipDegisti()">
                                    <option value="pasta" class="option">Pasta</option>
                                    <option value="cupcake" class="option">Cupcake</option>
                                    <option value="kurabiye" class="option">Kurabiye</option>
                                </select>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        @*<div class="form-row" style="margin-bottom: 26px;">
                                <label for="">
                                    Is this course for UF Online?
                                </label>
                                <div class="form-holder">
                                    <select name="" id="" class="form-control">
                                        <option value="no" class="option">No</option>
                                        <option value="yes" class="option">Yes</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Preferred System:
                                </label>
                                <div class="form-holder">
                                    <select name="" id="" class="form-control">
                                        <option value="canvas" class="option">Canvas</option>
                                        <option value="svg" class="option">Svg</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    College / Department:
                                </label>
                                <div class="form-holder">
                                    <select name="" id="" class="form-control">
                                        <option value="florida" class="option">University of Florida</option>
                                        <option value="havard" class="option">University of Havard</option>
                                        <option value="oxford" class="option">University of Oxford</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Term:
                                </label>
                                <div class="form-holder">
                                    <select name="" id="" class="form-control">
                                        <option value="" selected disabled>Select Term</option>
                                        <option value="term 1" class="option">Term 1</option>
                                        <option value="term 2" class="option">Term 2</option>
                                        <option value="term 3" class="option">Term 3</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>*@

                    </section>



                    <!-- SİPARİŞ FORMU -->
                    <h4></h4>
                    <section>
                        <div id="secildiKurabiye" style="display:none">
                            <div class="form-row">
                                <label for="">
                                    Hamur Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="kurabiyeHamurSecimi" class="form-control">
                                        <option value="zencefilli" class="option">Zencefilli</option>
                                        <option value="tarcinli" class="option">Tarçınlı</option>
                                        <option value="vanilyali" class="option">Vanilyalı</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Süsleme Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="kurabiyeSuslemeSecimi" class="form-control">
                                        <option value="sekerbaski" class="option">Şeker Baskı</option>
                                        <option value="royalicing" class="option">Royal Icing</option>
                                        <option value="hikayekombini" class="option">Hikaye Kombini</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Adet (Mininum 20):
                                </label>
                                <div class="form-holder">
                                    <input type="text" class="form-control" name="kurabiyeadet_" id="kurabiyeadet">
                                </div>
                            </div><br />
                        </div>

                        <div id="secildiPasta" style="display:block">
                            <div class="form-row">
                                <label for="">
                                    Kaç Kişilik? :
                                </label>
                                <div class="form-holder">
                                    <select id="pastaKisiSecimi" class="form-control">
                                        <option value="8-10 Kişilik" class="option">8-10 Kişilik</option>
                                        <option value="12-15 Kişilik" class="option">12-15 Kişilik</option>
                                        <option value="18-20 Kişilik" class="option">18-20 Kişilik</option>
                                        <option value="25-30 Kişilik" class="option">25-30 Kişilik</option>
                                        <option value="30+" class="option">30+</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Hamur Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="pastaHamurSecimi" class="form-control">
                                        <option value="Sade Hamur" class="option">Sade Hamur</option>
                                        <option value="Kakaolu Hamur" class="option">Kakaolu Hamur</option>
                                        <option value="Red Velvet Hamur" class="option">Red Velvet Hamur</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Süsleme Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="pastaSuslemeSecimi" class="form-control">
                                        <option value="Baskı Süsleme" class="option">Baskı Süsleme</option>
                                        <option value="Çiçek Süsleme" class="option">Çiçek Süsleme</option>
                                        <option value="Meyve Süsleme" class="option">Meyve Süsleme</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div><br />
                        </div>

                        <div id="secildiCupcake" style="display:none">
                            <div class="form-row">
                                <label for="">
                                    Cupcake:
                                </label>
                                <div class="form-holder">
                                    <select id="CupCakeSecimi" class="form-control">
                                        <option value="Krema Hamurlu" class="option">Krema Hamurlu</option>
                                        <option value="Şeker Hamurlu" class="option">Şeker Hamurlu</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Hamur Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="CupCakeHamurSecimi" class="form-control">
                                        <option value="Sade" class="option">Sade</option>
                                        <option value="Çikolatalı" class="option">Çikolatalı</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Süsleme Seçimi:
                                </label>
                                <div class="form-holder">
                                    <select id="CupCakeSuslemeSecimi" class="form-control">
                                        <option value="Şeker Hamuru" class="option">Şeker Hamuru</option>
                                        <option value="Sos" class="option">Sos</option>
                                        <option value="Meyve" class="option">Meyve</option>
                                        <option value="Sprinkles" class="option">Sprinkles</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    İç Dolgusu:
                                </label>
                                <div class="form-holder">
                                    <select id="CupCakeIcDolgusuSecimi" class="form-control">
                                        <option value="Dolgusuz" class="option">Dolgusuz</option>
                                        <option value="Çikolata" class="option">Çikolata</option>
                                        <option value="Meyve" class="option">Meyve</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">
                                    Kreması:
                                </label>
                                <div class="form-holder">
                                    <select id="CupCakeKremaSecimi" class="form-control">
                                        <option value="Şanti" class="option">Şanti</option>
                                        <option value="Butter Cream" class="option">Butter Cream</option>
                                        <option value="Ganaj" class="option">Ganaj</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                            <br />
                        </div>

                    </section>

                    <!-- TAMAMLAMA -->
                    <h4></h4>
                    <section>
                        <div class="form-row">
                            <h5>Tercihleriniz bana ulaşması için aşağıdaki tamam butonuna basınız, en kısa sürede dönüş yapacağım.</h5>

                        </div>
                        <div class="form-row">

                            <label for="">
                                Notunuz:
                            </label>
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Not" name="not">
                            </div>

                        </div><br />
                    </section>
                }
            </div>
        </form>
    </div>

    <script src="~/Content/colorlib-wizard-4/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="~/Content/colorlib-wizard-4/js/jquery.steps.js"></script>

    <!-- DATE-PICKER -->
    <script src="~/Content/colorlib-wizard-4/vendor/date-picker/js/datepicker.js"></script>
    <script src="~/Content/colorlib-wizard-4/vendor/date-picker/js/datepicker.en.js"></script>

    <script src="~/Content/colorlib-wizard-4/js/main.js"></script>
    <!-- Template created and distributed by Colorlib -->

    <script>

        function AddToCart() {

            var kurabiye = {
                HamurSecimi: document.getElementById("kurabiyeHamurSecimi").value,
                SuslemeSecimi: document.getElementById("kurabiyeSuslemeSecimi").value,
                Kurabiye_Adet: parseInt(document.querySelector('input[name=kurabiyeadet_]').value)
            };

            var pasta = {
                KisiSayisi: document.getElementById("pastaKisiSecimi").value, 
                HamurSecimi: document.getElementById("pastaHamurSecimi").value,
                Susleme: document.getElementById("pastaSuslemeSecimi").value
            };

            var cupcake = {
                
                Turu: document.getElementById("CupCakeSecimi").value,
                HamurSecimi: document.getElementById("CupCakeHamurSecimi").value,
                IcDolgusu: document.getElementById("CupCakeIcDolgusuSecimi").value,
                Kremasi: document.getElementById("CupCakeKremaSecimi").value,
                Susleme: document.getElementById("CupCakeSuslemeSecimi").value
            };


            var tmpObj = {
                 AdSoyad: document.querySelector('input[name=AdSoyad]').value,
                TelefonNumarasi: document.querySelector('input[name=TelefonNumarasi]').value,
                SiparisTuru: document.getElementById("tipSecimi").value,
                Not: document.querySelector('input[name=not]').value,
                kurabiye: kurabiye,
                cupcake: cupcake,
                pasta: pasta
            };

            var req = new XMLHttpRequest();
            req.responseType = "json";
            req.open('POST', '@Url.Action("AddOrder", "Default")', true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.send(JSON.stringify(tmpObj));

            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.response == 'Success!') { swal('Başarılı!', 'En kısa sürede yanıt vereceğim.', 'success').then(() => { location.reload(); }); }
                    else { swal('Hata!', 'Bir Sorun Oluştu!', 'warning');  }
                }
            };
}

        function tipDegisti() {
            var x = document.getElementById("tipSecimi").value;
            console.log(x);

            if (x === 'pasta') {
                var j = document.getElementById("secildiKurabiye");
                j.style.display = "none";
                var k = document.getElementById("secildiCupcake");
                k.style.display = "none";
                var b = document.getElementById("secildiPasta");
                if (b.style.display === "none") {
                    b.style.display = "block";
                } else {
                    b.style.display = "none";
                }
            }
            else if (x === 'cupcake') {
                var d = document.getElementById("secildiPasta");
                d.style.display = "none";
                var f = document.getElementById("secildiKurabiye");
                f.style.display = "none";
                var c = document.getElementById("secildiCupcake");
                if (c.style.display === "none") {
                    c.style.display = "block";
                } else {
                    c.style.display = "none";
                }
            }
            else if (x === 'kurabiye') {
                var h = document.getElementById("secildiPasta");
                h.style.display = "none";
                var i = document.getElementById("secildiCupcake");
                i.style.display = "none";
                var y = document.getElementById("secildiKurabiye");
                if (y.style.display === "none") {
                    y.style.display = "block";
                } else {
                    y.style.display = "none";
                }

            }
        }
    </script>

</body>
</html>